.body {
    font-family: Arial, sans-serif;
    background-color: #343238;
  }
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-content: center;
  }
.body-teste{
    background-color: #333;
    color: antiquewhite;
}
.titulo{
    font-size: 170%;
    text-align: center;
}
.subtitulo{
    font-size: 180% ;
    color: rgb(13, 134, 134)
}
.conteudo{
    padding-left: 5%;
}
.bio{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}
footer {
  padding-left: 5%;
    padding-bottom: 2%; /* altura do rodapé */
  }
.textos-normais{
    color: rgb(189, 188, 190);
}
.linkedin-emoji{
    width: 20px;
    height: 20px;
}
.paragrafos{
    padding-right: 5%;
    display: inline-block;
}
.paragrafos-textos{
    font-family: Andale Mono, monospace;
}
.image_perfil{
  flex-wrap: wrap;
  flex-basis: 100%;
  min-width: 40%;
  padding: 10%;
  width: 80%;
  flex: auto;
}
.ul-wrapper {
  
  min-width: 15%;
  max-width: 100%;
  padding: auto;
  display: flex;
    justify-content: space-between;
    font-family: Andale Mono, monospace;
    margin-bottom: 1%;
    overflow: auto; /* Adiciona uma quebra de linha após as listas */
  }

  h3{
    font-family: Andale Mono, monospace;
  }
  
  ul {
    font-family: Andale Mono, monospace;
    float: left; /* Define as listas para flutuarem à esquerda */
    margin-right: 10px; /* Adiciona um espaço de 10px entre as listas */
  }
  